* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: #333;
}
a:link {
  color: transparent;
}
a:visited {
  color: transparent;
}
html {
  font-family: "microsoft yahei";
}
body {
  background-color: #fff;
  overflow-x: hidden;
}
i {
  font-style: normal;
}
.clear:after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.nw1 {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nw2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.nw3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
