* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: #333;
}
a:link {
  color: transparent;
}
a:visited {
  color: transparent;
}
html {
  font-family: "microsoft yahei";
}
body {
  background-color: #fff;
  overflow-x: hidden;
}
i {
  font-style: normal;
}
.clear:after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.nw1 {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nw2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.nw3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.how_bind_alipay {
  min-height: 100vh;
}
.how_bind_alipay .topContent {
  padding: 0.3rem 0.2rem 0;
}
.how_bind_alipay .topContent .title {
  font-size: 0.28rem;
  color: #333;
  margin-bottom: 0.2rem;
  font-weight: 600;
}
.how_bind_alipay .topContent .text {
  font-size: 0.24rem;
  color: #333;
  line-height: 1.7;
}
.how_bind_alipay .bottomContent {
  padding: 0.3rem 0.2rem 0;
}
.how_bind_alipay .bottomContent .stepItem {
  display: flex;
}
.how_bind_alipay .bottomContent .stepItem .stepNum {
  height: 0.4rem;
  width: 1.1rem;
  line-height: 0.4rem;
  text-align: center;
  border-radius: 0.1rem;
  border: 1px solid red;
  font-size: 0.2rem;
  color: red;
}
.how_bind_alipay .bottomContent .stepItem .redLine {
  width: 3px;
  height: 6rem;
  background-color: red;
  margin-left: 0.25rem;
  position: relative;
  transform: translateY(0.25rem);
}
.how_bind_alipay .bottomContent .stepItem .redLine::before {
  content: '';
  display: block;
  height: 0.13rem;
  width: 0.13rem;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -0.13rem;
  left: 50%;
  transform: translateX(-50%);
}
.how_bind_alipay .bottomContent .stepItem .redLine_bottom {
  height: 10.5rem !important;
}
.how_bind_alipay .bottomContent .stepItem .right {
  margin-left: 0.3rem;
  width: 5rem;
}
.how_bind_alipay .bottomContent .stepItem .right .textTip {
  font-size: 0.24rem;
  color: #333;
  font-weight: 600;
}
.how_bind_alipay .bottomContent .stepItem .right .noAu {
  margin-top: 0.9rem !important;
}
.how_bind_alipay .bottomContent .stepItem .right .smallText {
  font-size: 0.16rem;
  color: #666666;
  width: 5rem;
  margin-top: 0.2rem;
}
.how_bind_alipay .bottomContent .stepItem .right img {
  width: 5rem;
  margin-top: 0.3rem;
}
.how_bind_alipay .bottomContent .stepItem .right .bottomBtn {
  height: 0.6rem;
  width: 2.6rem;
  background-color: #f13535;
  color: #fff;
  text-align: center;
  line-height: 0.6rem;
  border-radius: 0.15rem;
  margin: 0.3rem auto 0.8rem;
  font-size: 0.22rem;
}
.normal_problems {
  background-color: #fcf7f7;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0 0.36rem 0;
}
.normal_problems .problemItem {
  background-color: #fff;
  margin-top: 0.4rem;
  padding: 0.2rem;
  border-radius: 0.12rem;
}
.normal_problems .problemItem .title {
  font-size: 0.34rem;
  color: #333333;
  font-weight: bold;
}
.normal_problems .problemItem .content .text {
  font-size: 0.28rem;
  color: #666666;
  font-weight: normal;
  margin-top: 0.25rem;
  line-height: 0.46rem;
}
.userRule_page {
  background-color: #fcf7f7;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0 0.36rem 0.7rem;
}
.userRule_page .totalTitle {
  font-size: 0.36rem;
  font-weight: 600;
  color: #333;
  margin-top: 0.2rem;
  text-indent: 0.06rem;
}
.userRule_page .headerTip {
  font-size: 0.32rem;
  color: #333;
  margin-top: 0.4rem;
}
.userRule_page .ruleItem .firstTitle {
  font-size: 0.36rem;
  font-weight: 600;
  color: #333;
  margin-top: 0.45rem;
}
.userRule_page .ruleItem .secondTitle {
  font-size: 0.32rem;
  font-weight: 500;
  color: #333;
  margin-top: 0.35rem;
}
.userRule_page .ruleItem .thirdTitle {
  font-size: 0.32rem;
  font-weight: 500;
  color: #333;
  margin-top: 0.3rem;
}
.mode {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.mode img {
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.goodsInfo {
  background-color: #fcf7f7;
  min-height: 100vh;
  overflow-x: hidden;
}
.goodsInfo .swiper-container {
  position: relative;
  height: auto !important;
}
.goodsInfo .swiper-container .swiper-slide img {
  width: 100%;
  height: 6.5rem;
  object-fit: cover;
  object-position: center center;
  display: block;
}
.goodsInfo .swiper-container .swiper-pagination {
  width: 0.8rem;
  height: 0.36rem;
  line-height: 0.36rem;
  text-align: center;
  color: #fff;
  background-color: #a89f9f;
  opacity: 0.8;
  font-size: 0.24rem;
  font-weight: 500;
  position: absolute;
  left: 6.44rem !important;
  bottom: 0.3rem;
  border-radius: 0.12rem;
}
.goodsInfo .infoHeader {
  padding: 0.1rem 0.2rem 0.2rem;
  background-color: #fff;
}
.goodsInfo .infoHeader .name {
  font-size: 0.28rem;
  font-weight: bold;
  color: #333333;
}
.goodsInfo .infoHeader .price {
  font-size: 0.36rem;
  color: #f34040;
  font-weight: bold;
  margin-top: 0.3rem;
}
.goodsInfo .infoHeader .price span {
  font-size: 0.26rem;
}
.goodsInfo .infoHeader .tranPrice {
  font-size: 0.26rem;
  color: #999999;
  margin-top: 0.2rem;
}
.goodsInfo .infoBody {
  margin-top: 0.2rem;
  padding: 0.25rem 0.2rem 0.4rem;
  background-color: #fff;
}
.goodsInfo .infoBody .top .info {
  font-size: 0.28rem;
  font-weight: bold;
  color: #333333;
}
.goodsInfo .infoBody .top .ulBox .item {
  font-size: 0.26rem;
  color: #333;
  margin-top: 0.15rem;
  line-height: 0.45rem;
}
.goodsInfo .infoBody .top .imgBox {
  margin-top: 0.3rem;
}
.goodsInfo .infoBody .top .imgBox .imgItem {
  width: 49%;
  height: 5rem;
  object-fit: contain;
  object-position: center;
  border-radius: 0.1rem;
  border: 2px solid #eee9e9;
  box-sizing: border-box;
}
.goodsInfo .infoBody .top .imgBox .imgItem:nth-child(2n) {
  margin-left: 2%;
}
.goodsInfo .importantDecl,
.goodsInfo .priceDecl {
  margin-top: 0.2rem;
  padding: 0.05rem 0.2rem 0.4rem;
  background-color: #fff;
}
.goodsInfo .importantDecl .title,
.goodsInfo .priceDecl .title {
  font-size: 0.28rem;
  font-weight: bold;
  color: #333333;
  margin-top: 0.2rem;
}
.goodsInfo .importantDecl .item,
.goodsInfo .priceDecl .item {
  font-size: 0.26rem;
  color: #333;
  margin-top: 0.15rem;
  line-height: 0.4rem;
}
.goodsInfo .bot {
  height: 1.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background-color: #fcf7f7;
}
.goodsInfo .bot .bottomBtn {
  height: 0.9rem;
  width: 6.5rem;
  line-height: 0.9rem;
  text-align: center;
  font-size: 0.34rem;
  color: #ffffff;
  border-radius: 0.4rem;
  background: linear-gradient(90deg, #d8dbdd 0%, #b6b9bb 100%);
  margin: 0.2rem auto 0;
}
